body {
    background-color: white;
    margin: 0px;
}

h1 {
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 26px;
    font-weight: normal;
}

h2 {
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

p, a, span, td, th, label {
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 14px;
    text-decoration: none;
}

td {vertical-align: top;}
figure {margin: 0px;}

button {
    background-color: #8888FF;
    color: white;
    border: none;
    border-bottom: 4px solid #7070FF;
    border-radius: 2px;
    padding: 10px 14px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #7070FF;
    border-bottom: 4px solid #6464FF;
}

input {
    width: 220px;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    padding-right: 60px;
    color: #D0D0D0;
}

input:focus {color: black;}

.transform a:hover {text-decoration: underline;}
.transform img {transition: 0.2s;}
.transform img:hover {transform: scale(1.015);}

.left_aligned {
    float: left;
    font-weight: bold;
    margin: 6px 0px;
    padding-right: 6px;
}

.right_aligned {float: right; margin: 6px 0px;}
.right_aligned a {text-decoration: underline;}
.responsive {max-width: 100%; height: auto;}
.bold {font-weight: bold;}

.container {
    display: grid;
    grid-template-rows: minmax(70px, auto) auto 400px;
    grid-template-columns: 1fr;
}


/*--------------- HEADER/NAV ---------------*/
.header {
    grid-column: 1/5;
    background-color: #8888FF;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 0px 4.5%;
}

.logo {
    padding-top: 6px;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    /*padding-right: 24px;*/
}

.header a {
    color: white;
    text-decoration: none;
}

.topnav0 {
    display: flex;
    align-items: center;
    height: 52px;
}

.topnav1 {margin-left: 20px;}
.topnav1 li {display: inline-block; padding: 0px 20px;}
.topnav1 ul, .topnav2 ul {padding: 0px;}
.topnav2 {margin-left: auto;}
.topnav2 li {display: inline-block; padding: 0px 16px;}
.topnav1 li a, .topnav2 li a, .hamburger {transition: all 0.3s ease 0s;}
.topnav1 li a:hover, .topnav2 li a:hover, .hamburger:hover {opacity: 0.75;}
.topnav2 li:nth-child(3) {padding-right: 0px;}
.topnav2 li:nth-child(3) a:hover {opacity: 1;}
.fa-angle-down, .fa-angle-right {margin-left: 6px;}

.fa-magnifying-glass {
    position: absolute;
    margin-top: 10px;
    margin-left: 260px;
    opacity: 0.6;
    color: #D0D0D0;
}

.search {
    position: relative;
    display: flex;
    /*margin-left: 4%;*/
    margin-left: 24px;
}
 
.header button {
    background-color: #7070FF;
    border-bottom: 2px solid #6464FF;
}

.header button:hover {
    background-color: #6464FF;
    border-bottom: 2px solid #5858FF;
}

.hamburger {
    display: none;
    margin-left: auto;
    padding-left: 20px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .header {flex-direction: column;}
    .hamburger {display: flex; margin-left: auto;}
    .topnav1, .topnav2 {display: none;}
    .topnav0 {width: 100%; padding-top: 9px;}

    .topnav1, .topnav2, .topnav1 ul, .topnav2 ul {
        margin: 0px;
        width: 100%;
        text-align: center;
    }

    .topnav1 ul {padding: 10px 0px;}
    .topnav2 ul {margin-bottom: 20px;}

    .topnav1 li {
        display: block;
        padding: 12px 0px;
        text-align: center;
    }

    .topnav1 a {padding: 14px 30%; width: 100%;}
    .topnav1 a:hover {background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(100, 100, 255, 1), rgba(0, 0, 0, 0));}
    .topnav1.responsive, .topnav2.responsive {display: flex; text-align: center;}
}

@media screen and (max-width: 520px) {
    .header input {width: 150px;}
    .fa-magnifying-glass {margin-left: 190px;}
}

/*------- PAGE NAVIGATION ------*/
.page_nav {
    grid-column: 1/5; grid-row: 1/2;
    padding: 0% 5%;
    /*background-color: chartreuse;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_nav ul {padding: 0px; margin: 12px 0px;}
.page_nav li {display: inline-block;}
.page_nav li:nth-child(3), .page_nav li:nth-child(5) {padding-left: 6px;}
.page_nav a:hover {text-decoration: underline;}
.page_nav button {float: right;}


/*------- BUTTONS ------*/
.buttons {padding-left: 6.666%;}
.buttons ul {padding: 0px;}
.button1 {margin-top: 26px;}
.functions {padding-top: 4px; padding-left: 0px;}
.functions li {display: inline-block;}
.functions li:nth-child(1) button {border-radius: 3px 0px 0px 3px;}
.functions li:nth-child(2) button {border-radius: 0px;}
.functions li:nth-child(3) button {border-radius: 0px 3px 3px 0px;}


/*--------------- FOOTER ---------------*/
.footer {
    background-color: #8888FF;
    grid-column: 1/5;
}

.footer button {
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #7070FF;
    border-bottom: 4px solid #6464FF;
}

.footer button:hover {
    background-color: #6464FF;
    border-bottom: 4px solid #5858FF;
}

.footer button:nth-child(2) {
    margin-left: 15px;
    display: none;
}

.footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer img {
    display: block;
    cursor: pointer;
    padding: 10px;
    transition: 0.1s;
}

.footer img:hover {transform: scale(1.02);}

/*--------------- VIDEO AND FORM ---------------*/
.video {
    grid-column: 1/5; grid-row: 2/3;
    padding-left: 5%; padding-right: 5%;
    padding-top: 12px;
    padding-bottom: 30px;
}

.video video {border-radius: 5px;}

.form {
    grid-column: 1/5; grid-row: 3/4;
    padding-left: 5%;
    padding-bottom: 30px;
}

.background {
    background-color: #E3E3E3;
    width: 70%;
    padding: 14px 20px;
    border-radius: 2px;
}

.form input[type=text]{width: 75%; margin: 10px 0px;}
.form input[type=text]:focus{outline: 2px solid #8888FF;}
.form input[type=checkbox] {width: auto; margin: 10px 0px;}

.form input[type=submit] {
    background-color: #8888FF;
    color: white;
    border-bottom: 4px solid #7070FF;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 10px;
    padding: 12px 0px;
}

.form input[type=submit]:hover {
    background-color: #7070FF;
    border-bottom: 4px solid #6464FF;
}








/*--------------- DESCRIPTION ---------------*/
.picture img {border: 1px solid #DCDCDC; border-radius: 5px;}
.picture figcaption > h1  {display: none;}

.description a {text-decoration: underline;}
.description table {width: 100%;}

.discography figure {padding: 0px 2%;}
.discography figure:nth-child(1) {padding-left: 0px;}
.discography figure:nth-child(4) {padding-right: 0px;}


/*------- LINKS ------*/
.links {margin-right: 20%;}
.links li {display: flex; float: right; padding: 10px 11px;}
.links li:nth-child(1) {padding-right: 0px;}
.link_icon {transition: 0.2s;}
.link_icon:hover {transform: scale(1.15);}


/*--------------- GRID/ALIGNMENT ---------------*/

#home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(380px, auto) auto 170px;
}

.picture {
    grid-column: 1/2; grid-row: 1/2;
    margin-left: 20%;
    margin-top: 32px;
    padding-right: 5%;
}

.description {
    grid-column: 2/4; grid-row: 1/2;
    padding: 12px 7% 5% 7%;
}

.ads { grid-column: 4/5; grid-row: 1/2; }

.discography {
    grid-column: 1/5; grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
}

.buttons { grid-column: 1/4; grid-row: 3/4; }
.external_links {grid-column: 4/5; grid-row: 3/4;}
.footer { grid-column: 1/5; }
#draggable {cursor: pointer;}


@media screen and (max-width: 800px) {
    /*
    .container {
        display: grid;
        grid-template-rows: minmax(70px, auto) auto 400px;
        grid-template-columns: 1fr;
    }*/

    #home {
        display: grid;
        grid-template-rows: auto auto 0px auto auto auto;
        grid-template-columns: 1fr;
    }

    /*
    .header { grid-row: 1/2; grid-column: 1/2; }*/
    
    .picture {
        grid-row: 1/2; grid-column: 1/2;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
    }

    .picture img {width: 198px; height: 240px;}

    .picture figcaption > h1 {
        display: block;
        margin: 0px;
        padding-bottom: 12px;
        text-align: center;
    }

    .description {grid-row: 2/3; grid-column: 1/2;}
    .description h1 {display: none;}
    .desc {text-align: center;}
    
    .ads { grid-row: 3/4; grid-column: 1/2;}
   
    .discography {
        grid-row: 4/5; grid-column: 1/2;
        display: inline;
        vertical-align: middle;
        margin: auto;
    }

    .discography figure {
        padding-bottom: 24px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .buttons {
        grid-row: 5/6; grid-column: 1/2;
        vertical-align: middle;
        margin: auto;
        padding: 0px;
        text-align: center;
    }

    .external_links {
        grid-row: 6/7; grid-column: 1/2;
        margin: auto;
        padding-top: 24px;
        padding-bottom: 50px;
    }

    .external_links ul {padding: 0px; transform: rotate(180deg);}
    .links {margin: 0px;}

    .links li {
        display: inline-block;
        float: none;
        transform: rotate(-180deg);
    }

    .links li:nth-child(5) {padding-left: 0px;}

    /*
    .footer { grid-row: 8/9; grid-column: 1/2; }*/
}

@media print {
    .header, .buttons, .external_links, .footer {
        display: none;
    }

    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
    }

    .picture {grid-column: 1/2; grid-row: 1/2;}
    .description {grid-column: 2/5; grid-row: 1/2;}
    .description a {text-decoration: none;}
    .discography {grid-column: 1/5; grid-row: 2/3;}
}










#albums {
    display: grid;
    grid-template-rows: 70px auto auto;
    grid-template-columns: repeat(4, 1fr);
}

.albumgallery {
    grid-column: 1/5; grid-row: 3/4;
    /*background-color: pink;*/
    display: flex;
}

.albumgallery figure {margin-left: 5%;}
.albumgallery figure:nth-child(3) {margin-right: 5%;}
.albumgallery h2 {margin-top: 8px; margin-bottom: 0px;}
.albumgallery p {margin-top: 6px;}

.buttons1 {
    grid-column: 1/5; grid-row: 4/5;
    padding-bottom: 50px;
    /*background-color: tomato;*/
    padding-left: 5%;
}

.empty {grid-column: 4/5; grid-row: 4/5;}
.footer {grid-column: 1/5; /*grid-row: 5/6;*/}

@media screen and (max-width: 800px) {
    /*
    .container {
        display: grid;
        grid-template-rows: minmax(70px, auto) 70px auto auto auto 400px;
        grid-template-columns: 1fr;
    }*/

    #albums {
        grid-template-rows: 70px auto auto auto;
        grid-template-columns: 1fr;
    }

    /*
    .header { grid-row: 1/2; grid-column: 1/2; }*/

    .albumgallery {
        grid-row: 3/4; grid-column: 1/2;
        display: inline;
        vertical-align: middle;
        margin: auto;
    }

    .albumgallery figure {
        padding-bottom: 24px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .albumgallery figure:nth-child(3) {margin-right: 0px;}

    .buttons1 {
        grid-row: 4/5; grid-column: 1/2;
        vertical-align: middle;
        margin: auto;
        padding: 0px;
        text-align: center;
        padding-bottom: 50px;
    }
    .empty { grid-row: 5/6; grid-column: 1/2; }
    .footer { /*grid-row: 6/7;*/ grid-column: 1/2; }
}







#apple {
    display: grid;
    grid-template-rows: 70px auto minmax(150px, auto) 100px auto minmax(270px, auto) auto;
    grid-template-columns: repeat(4, 1fr);
}

.albuminfo {
    grid-column: 1/2; grid-row: 2/3;
    /*background-color: cornflowerblue;*/
    padding-left: 20%;
    padding-right: 5%;
}

.albuminfo img {
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    margin-bottom: 6px;
}

.albuminfo figcaption > h1  {display: none;}

.tracklist {
    grid-column: 2/5; grid-row: 2/3;
    /*background-color: lightseagreen;*/
    padding-left: 5%;
    padding-right: 5%;
}

.tracklist h1 {margin-top: 4px;}

.tracklist ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 25% 0px 0px;
    border-bottom: 1px solid #DCDCDC;
}

.tracklist li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.tracklist li:nth-child(1) {padding-left: 6px;}
.tracklist li:nth-child(2) {float: right; padding-right: 6px;}
.tracklist p {margin: 6px 0px;}


/*------------ CREDITS ------------*/
.credits {
    grid-column: 1/5; grid-row: 3/4;
    /*background-color: skyblue;*/
    padding-top: 30px;
    padding-left: 5%;
    display: inline-block;
}

.credits li {display: inline-block;}
.credits a {font-weight: bold;}
.credits a:hover {text-decoration: underline;}

.credits img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 2px;
}

.credits ul {padding: 0px;}
.credit_item ul {padding-right: 60px; padding-bottom: 12px;}
.credit_desc {display: flex; align-items: center;}
.credit_desc li:nth-child(2) {padding-left: 10px;}


/*------------ VERSIONS ------------*/
.version_nav {
    grid-column: 1/5; grid-row: 4/5;
    /*background-color: paleturquoise;*/
    padding-left: 5%;
    padding-top: 6px;
}

.versions {
    grid-column: 1/5; grid-row: 5/6;
    /*background-color: gold;*/
    padding-left: 5%;
    /*padding-top: 12px;*/
}

.background {
    background-color: #E3E3E3;
    width: 75%;
    padding: 14px 20px;
    border-radius: 2px;
}

.preheader {display: flex; align-items: center;}
.preheader button {margin-left: auto;}

.versions table, .versions td, .versions th, .versions tr {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

.versions table {width: 100%; margin-top: 16px;}
.versions img {border: 1px solid #E3E3E3; border-radius: 2px;}
.versions a:hover {text-decoration: underline;}

.versions th, .versions td {
    vertical-align: middle;
    text-align: left;
    padding-left: 8px;
}

.versions th {padding-bottom: 12px;}
.versions td {background-color: white; height: 106px;}
.versions tr {border: 2px solid #D7D7D7; border-radius: 3px;}
.thead tr {border: none;}
.middle {vertical-align: middle;}
.versions td:nth-child(1) {width: 100px;}

.expand {
    float: right;
    border-right: 4px solid #7070FF;
    border-left: 2px solid #D7D7D7;
    border-bottom: none;
    border-radius: 0px;
    height: 100%;
    padding: 8px;
}

.expand:hover {border-right: 4px solid #6464FF; border-bottom: none;}
.expandicon {margin: 0px;}


/*------------ RECOMMENDATIONS ------------*/
.recommendations {
    grid-column: 1/5; grid-row: 6/7;
    /*background-color: lightcoral;*/
    padding: 30px 5%;
    /*display: block;*/
}

.recommendations figure {
    display: inline-block;
    width: 150px;
    padding: 0px 60px 0px 0px;
}


.recommendations figure:last-child {padding: 0;}

.recommendations figcaption {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
}

.recommendations ul {padding: 0px;}
.recommendations img {border-radius: 2px;}
.recommendations a {font-size: 13px;}
.recommendations a:hover {text-decoration: underline;}

.slideshow {
    width: fit-content;
    display: flex;
    align-items: center;
    padding-top: 4px;
    /*background-color: lightgreen;*/
}

.slide {margin: auto 20px;}
.arrow:first-child a {padding: 10px; margin-right: 8px;}
.arrow:last-child {margin-left: auto;}
.arrow:last-child a {padding: 10px; margin-left: 8px;}
.arrow i {margin: 0; transition: 0.2s;}
.arrow i:hover {transform: scale(1.25);}

.fade {animation-name: fade; animation-duration: 1s;}

@keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
}

.dot {
    height: 3px;
    width: 12px;
    margin: 0 4px;
    background-color: #ccc;
    border-radius: 3px;
    display: inline-block;
    transition: background-color 0.4s ease;
}

#dots {text-align: center;}
.active {background-color: #000;}


/*------------ REVIEWS ------------*/
.reviews {
    grid-column: 1/3; grid-row: 7/8;
    /*background-color: tomato;*/
    padding-left: 10%;
    padding-bottom: 30px;
}

.reviews ul {
    padding: 0px;
    list-style-type: none;
    padding-top: 12px;
}

.reviews li {border-bottom: 1px solid #DCDCDC; margin-bottom: 20px;}
.fa-plus {margin-left: 6px;}
.fa-star {margin: 0px; padding-right: 4px;}

.reviews table, .reviews td, .reviews th, .reviews tr {
    /*border: 1px solid;*/
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

.reviews td {padding-left: 10px;}
.reviews td:nth-child(1) {padding-left: 0px;}
.ref, .ref a {font-size: 12px; font-style: italic;}
.ref a:hover {text-decoration: underline;}
.fa-reply {margin-right: 6px;}
.endrow td {padding-bottom: 16px;}


/*------------ STATISTICS ------------*/
.statistics {
    grid-column: 3/5; grid-row: 7/8;
    /*background-color: moccasin;*/
    margin-left: 15%;
}

.statistics table {width: 50%;}
.statistics table, .statistics td, .statistics th, .statistics tr {border-collapse: collapse;}
.statistics td {font-size: 13px; border-bottom: 1px solid #DCDCDC;}
.statistics td:nth-child(1) {padding-left: 6px;}
.statistics td:nth-child(2) {padding-right: 6px;}
.statistics ul {padding: 0px; padding-top: 14px;}
.statistics li {display: inline-block;}
.statistics li:nth-child(1) button {border-radius: 3px 0px 0px 3px;}
.statistics li:nth-child(2) button {border-radius: 0px 3px 3px 0px;}
.titles a {font-weight: bold;}

.footer {grid-column: 1/5;}

@media screen and (max-width: 800px) {
    /*
    .container {
        grid-template-rows: minmax(70px, auto) 70px auto auto auto auto auto auto auto auto 400px;
        grid-template-columns: 1fr;
    }*/

    #apple {
        grid-template-rows: 70px auto auto auto auto auto auto auto auto;
        grid-template-columns: 1fr;
    }

    .albuminfo {
        grid-row: 2/3; grid-column: 1/2;
        padding: 0px;
        display: inline;
        vertical-align: middle;
        margin: auto;
        padding-bottom: 20px;
    }

    .albuminfo figcaption > h1 {
        display: block;
        margin: 0px;
        padding-bottom: 12px;
        text-align: center;
    }

    .albuminfo img {width: 250px; height: 250px;}
    .albuminfo table {width: 250px;}

    .tracklist { grid-row: 3/4; grid-column: 1/2; }
    .tracklist h1 {display: none;}
    .tracklist ul {margin: 0px;}

    .credits { grid-row: 4/5; grid-column: 1/2; }
    .credits li {display: block;}

    .version_nav {
        grid-row: 5/6; grid-column: 1/2;
        padding-bottom: 20px;
    }

    .background {
        width: 85%;
        vertical-align: middle;
        margin: auto;
    }

    .versions {
        grid-row: 6/7; grid-column: 1/2;
        padding: 0px;
    }

    .versions thead {display: none;}
    .versions table {background-color: white;}
    .versions td {display: block; height: auto;}
    .versions td:nth-child(1), .versions td:nth-child(6) {display: table-cell; height: 150px;}
    .versions td:nth-child(2) {padding-top: 20px;}
    .versions td:nth-child(5) {padding-bottom: 15.75px;}

    .recommendations {
        grid-row: 7/8; grid-column: 1/2;
        display: inline;
        vertical-align: middle;
        margin: auto;
    }

    .recommendations h2 {text-align: center;}

    .statistics {
        grid-row: 8/9; grid-column: 1/2;
        padding-bottom: 20px;
        display: inline;
        vertical-align: middle;
        margin: auto;
        text-align: center;
    }

    .statistics table {
        width: 240px;
        vertical-align: middle;
        margin: auto;
    }

    .reviews {
        grid-row: 9/10; grid-column: 1/2;
        padding-left: 5%;
        padding-right: 5%;
    }

    .footer { /*grid-row: 11/12;*/ grid-column: 1/2; }
}